@charset "UTF-8";
/* CSS Document */

#pageOneContent {
	background-color: #000;
	background-image: url(images/pOnebg.png);
	background-repeat: no-repeat;
	min-height: 368px;
	background-position-y: -20px;
}
#page #pageOneContent ul li {
	opacity: 0.9;
}

.achievementIcon {
	width: 40px;
	margin-left: 10px;
	margin-top: 10px;	
}

#medalList li img {
	width: 40px;
	margin-left: 10px;	
}

#ribbonList li img {
	width: 60px;
	margin-left: 10px;
	margin-top: 18px;	
}

strong {
	display: block;
	font-size: 12px;
	margin-left: 10px;
	margin-top: 12px;	
}

#ribbonList li strong {
	margin-left: 25px;	
}